snippet com "commit" b
$1$2: $3
$4
#Signed-Off-By Arsenii Yamnii
#yamnii@ya.ru
endsnippet
snippet feat "commit feat" b
feat$1: $2
$0
#Signed-Off-By Arsenii Yamnii
#yamnii@ya.ru
endsnippet
snippet chore "commit chore" b
chore$1: $2
$0
#Signed-Off-By Arsenii Yamnii
#yamnii@ya.ru
endsnippet
snippet fix "commit fix" b
fix$1: $2
$0
#Signed-Off-By Arsenii Yamnii
#yamnii@ya.ru
endsnippet

snippet ref "commit refactor" b
refactor$1: $2
$0
#Signed-Off-By Arsenii Yamnii
#yamnii@ya.ru
endsnippet

